aside {
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category-name {
    color: rgb(120, 120, 120);
    text-decoration: none;
}

.category-name:hover {
    color: rgb(120, 120, 120);
    text-decoration: underline;
}
